@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body1 {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#15bff8), to(#126ef4));
  background: linear-gradient(#15bff8, #126ef4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 8em;
}

.container .img-div .logo {
  height: 9em;
}

.container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 9em;
}

.container .text h1 {
  text-align: center;
  color: #fff;
  font-size: 2em;
  width: 100%;
}

.container .text h1 #sunny {
  font-size: 1.1em;
  color: #ffcc00;
}

.container .text p {
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding-bottom: 1em;
  width: 90%;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#042147), to(#000a18));
  background: linear-gradient(#042147, #000a18);
}

.body .weather {
  background: -webkit-gradient(linear, left top, left bottom, from(#15bff8), to(#126ef4));
  background: linear-gradient(#15bff8, #126ef4);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 50px 50px;
}

.body .weather .container-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  padding-top: 1em;
  color: #fff;
}

.body .weather .container-weather .location-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .weather .container-weather .location-name .fas {
  font-size: 1.1em;
}

.body .weather .container-weather .location-name h4 {
  font-size: 1.4em;
  font-weight: 600;
  margin-left: 5px;
}

.body .weather .container-weather .div-img {
  padding-top: 2em;
}

.body .weather .container-weather .div-img img {
  height: 10em;
}

.body .weather .container-weather .temp {
  position: relative;
  font-size: 7em;
  margin-top: 0;
  line-height: 1em;
  font-weight: 600;
  margin-right: 5px;
}

.body .weather .container-weather .temp span {
  position: absolute;
  font-size: 0.3em;
  font-weight: 500;
  opacity: 0.5;
  translate: 0 -25%;
}

.body .weather .container-weather h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: -0.5em;
}

.body .weather .container-weather h5 {
  opacity: 0;
}

.body .container-forecast {
  width: 100%;
  min-height: 32vh;
}
/*# sourceMappingURL=main.css.map */